/*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A6D750;
	background: #272924;
}

a:link, a:visited { color: #f1d72b; text-decoration: none; font-weight: normal;} 
a:active, a:hover { color: #f1d72b; text-decoration: underline;}



p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner { clear: both; width: 100%; height: 1px; font-size: 1px;  }

.cleaner_w10 { float: left; width: 10px; height: 100%; font-size: 1px;	}
.cleaner_h10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.cleaner_h20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.cleaner_h30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.cleaner_h40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.divider_h60 { clear: both; width: 100%; height: 60px; font-size: 1px; background: url(img/horizontal_divider.jpg) center repeat-x; }

/* menu */
#menu_wrapper{
	width:100%;
	height: 51px;	
	margin: 0 auto;
	color: #ffffff;
	background: url(../img/menu_bg_repeat.png) repeat-x;
}

#menu_wrapper #menu_panel{
	width: 940px;
	height: 51px;	
	margin:0 auto;
	padding: 0 60px;
	background: url(../img/menu_bg.gif) repeat-x;
}

#menu_panel ul {
	float: right;
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
}

#menu_panel ul li{
	display: inline;
}

#menu_panel ul li a{
	float: left;
	padding: 1px 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #46c2bd;
	border-right: 1px solid #000000;	
}

#menu_panel li a:hover, #menu_panel li .current{
	color: #a6d750;
}

#menu_panel li .last {
	padding-right: 0px;
	border-right: none;
}
/* end of menu */

/* header */
#header_wrapper{
	clear: both;
	width:100%;
	height: 200px;	
	margin: 0 auto;
}

#header_wrapper #header_panel{
	width: 940px;
	height: 200px;	
	margin:0 auto;
	padding: 0 60px;
	background: url(../img/header_bg.gif) no-repeat;
}

#header_panel .header{
	float: right;
	margin: 50px 0 0 0;
	width: 400px;
	height: 85px;
	background: url(../img/logo.png) top right no-repeat;
}

#header_panel .header_right_section{
	float: right;
	margin: 50px 0 0 50px;
	width: 420px;
}
.header_right_section .login_box {
	clear: both;
	float: right;
	padding-top: 10px;
	border-top: 2px solid #443d3d;
	margin-top: 10px;
	width: 325px;
}
.login_box  .form {
	margin: 0px;
	padding: 0px;
}

.inputfield{
	margin-bottom:1px;
	background:#000000;
	border: 1px solid #333333;
	color: #A6D750;
	font-size: 13px;
	font-variant: normal;
	height: 19px;
	line-height: normal;
	padding: 4px;
	width: 175px;
}
.dropdownfield{
	margin-bottom:1px;
	background:#000000;
	border: 1px solid #333333;
	color: #A6D750;
	font-size: 13px;
	font-variant: normal;
	height: 27px;
	line-height: normal;
	padding: 4px;
	width: 185px;
}

.loginbutton{
	background: url(../img/login_button.png); 
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	margin: 0 0 0 10px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 100px;
}

/* end of header */

/* content */
#content_panel{
	clear: both;
	width:100%;
	margin: 0 auto;
	color: #ffffff;
}

#content_wrapper {
	clear: both;
	position: relative;
	width: 1060px;
	margin:0 auto;
	padding-bottom: 20px;
	background: url(../img/content_middle.gif) repeat-y;	
}

#content_wrapper #content_bottom {
	clear: both;
	position: absolute;
	width: 1060px;
	height: 20px;
	display: block;
	bottom: 0px;
	left: 0px;
	margin:0 auto;
	background: url(../img/content_bottom.gif) no-repeat;	
}

#content {
	padding: 40px 60px 20px 60px;
	background: url(../img/content_top.gif) top center no-repeat; 
}

#content .content_title_01 {
	font-size:18px;
	color: #4eaeac;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#content #content_left{
	float: left;
	padding: 0 0 0 15px;
	width: 575px;
	min-height:600px;
}
#content_inner{
	float: left;
	padding: 0 0 0 30px;
	width: 820px;
}
#content_left .post_section,#content_inner .post_section {
	clear: both;
}

.post_section .post_header {
	width: 560px;
}

.post_title_info {
	float: left;
	width: 500px;
}

.post_title_info .post_title {
	font-size: 20px;
	color: #51c9c6;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.post_title_info  .post_info {
	clear: both;
	font-size: 14px;
	color: #CCC;
	margin: 0 0 20px 0;
}

.post_header .comment {
	float: right;
	width: 50px;
	height: 40px;
	text-align: center;
	padding: 10px 0 0 0;
	font-size: 24px;
	color: #333;
	background: url(../img/comment_icon.jpg) no-repeat;
}

.post_content {
	clear: both;
}

.post_content img {
	border: 5px solid #1a1a1a;
	margin-bottom: 10px;
}

.post_content .link_button a{
	float: right;
	clear: both;
	margin-top: 10px;
	display: block;
	color: #f1d72b;
	font-weight: bold;
	text-decoration: none;
}

.post_content .link_button a:hover{
	color: #f1d72b;
}

#content #content_right{
	float: right;	
	padding: 0 30px;
	width: 260px;
	background:url(../img/vertical_divider.gif) left repeat-y;
}

#content_right .content_right_titile_01 {
	font-size: 20px;
	color: #747474;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #1d1d1d;
}

#content_right .ads_250_250 {
	border: 5px solid #1a1a1a;
}

#content_right .content_right_section {
	clear: both;
	width: 260px;
}

.ads_125_125 {
	float: left;
	width: 125px;
	height: 125px;
	margin: 0 0 10px 0;
}

.right_padding_10 {
	margin-right: 10px;
}

.recent_post {
	color: #747474;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #1a1a1a;
}

.recent_post .post_title {
	color: #4eaeac;
	font-weight: bold;
}

.content_right_section ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.content_right_section li {
	margin: 0 0 3px 0;
	padding: 0px;
	background: #141414;
}

.content_right_section li:hover {
	background: #1d1d1d;
}

.content_right_section li a{
	width: 260px;	
	padding: 2px 10px;
	color: #cccccc;
	outline: none;

}
/* end of contetn */

/* bottom */

#bottom_wrapper{
	clear: both;
	width:100%;
	margin: 0 auto;
}

#bottom_wrapper #bottom_panel{
	width: 940px;
	margin:0 auto;
	padding: 0 60px;
	color: #706a3f;
}

.bottom_title {
	color: #958836;
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
}

#bottom_panel .bottom_section_box {
	float: left;
	margin-right: 35px;
	width: 200px;
}

.bottom_section_box ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.bottom_section_box li {
	margin: 0px;
	padding: 0 0 3px 0;
}

.bottom_section_box li a, .bottom_section_box li a:hover, .bottom_section_box li a:visited {
	color: #706a3f;
	text-decoration: none;
	font-weight: normal;
}


/* end of bottom */
.order_imgs-inactive{
	margin:0;
	padding:0;
	position:fixed;
	left:-160px;
	top:51px;
	width:180px;
	color:#000000;
}
.order_imgs-active{
	margin:0;
	padding:0;
	position:fixed;
	left:0;
	top:51px;
	width:180px;
	color:#000000;
}
.left{
	margin:0;
	padding:10px 0 0 5px;
	width:155px;
	background-color:#FFFFFF;
	float:left;
	overflow: auto;
	overflow-x: hidden;
	height:500px;
}
.right{
	margin:0;
	padding:0;
	width:20px;
	float:right;
}
.tr{
    width: 20px;
    height: 20px;
    background: url(../img/circle.png) no-repeat top right;	
    float: right;
}
.mr{
	margin:0;
	padding:0;
	width:20px;
	background-color:#FFFFFF;
	clear:both;
}
.br{
    width: 20px;
    height: 20px;
    background: url(../img/circle.png) no-repeat bottom right;	
    float: right;
}

.hide
{
	display:none;
}
.left table {
	width:150px;
	padding:0;
	margin:0;
	border-style:none;
}
.cusbutton{
	background: url(../img/vertical_divider.gif); 
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	margin: 10px 0 0 10px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 100px;
	color:#FFFFFF;
}
.uploadbutton
{
	margin-top:10px;
	background: url(../img/vertical_divider.gif); 
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color:#FFFFFF;
}